
<%-include('include/_header')%>

<main id="site-main">
    <div class="container">

        <form action="/upload2" method="POST" enctype="multipart/form-data" id="select_pic" style="text-align: center;">
     
    <h3>Choose image for the new item</h3>
    
    <div class="new_user">
        <div class="form-group">
        <div class="field">
            <label for="file">File</label>
            <input type="file" name="img" id="" accept="image/png, image/gif, image/jpeg" required>
        </div>
    </div> 

    <div class="form-group" > 
        <div class="field">
            <input type="submit" class="btn text-dark update" style="width: 30%;">
        </div>
    </div>
</div>
</form> 
 
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>Main Page</a>
            </div> 
         </div>

        <div class="form-title text-center">
            <h2 class="text-dark">All Orders</h2>
             
        </div> 
        <form action="/"method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr> 
                        <th>Client Name</th> 
                        <th>Item Name</th> 
                        <th>QTY</th> 
                        <th>Unit Amount($)</th> 
                        <th>Total Amount($)</th> 
                        <th>Order Date</th> 
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody> 
                    <%-include('include/_show')%>
                </tbody>
            </table> 
        </form>

       
        

    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/order.js" ></script>
 

</body>

<footer>
<p></p>
</footer>

</html>