<%-include('include/_header')%>

 


    <main id="site-main">
        <div class="container"> 

            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>Main Page</a>
                </div>
             </div>
    
            <div class="form-title text-center">
                <h2 class="text-dark">Upload image for the product</h2> 
            </div>
    
           
            <%-include('include/_form3')%>
    
    
        </div>
    </main>


    <%-include('include/_footer')%>